:root {
  --background: #000a0d;
  --foreground: #f0eae3;

  --fierly-foreground: #ffd700;
  --fierly-background: #ffd700; /** TODO: поменять */

  --mainred: #aa1828;

  --maingray-foreground: #2a2b31;
  --miangray-background: #2a2b31; /** TODO: поменять */

  --light-gray-foreground: #676774;
  --light-gray-background: #676774; /** TODO: поменять */

  /** Sizes */
  --header-mobile-height: 60px;
  --header-desktop-height: 80px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #100f11;
    --foreground: #eaeaec;
  }
} */
